*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 100%;
    height: 85vh;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
} 
.header{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-evenly;
    background-color: white;
}
.titolo{
    align-self: center;
}

.btn {
    height: 2rem;
    width: 4rem;
    align-self: center;
}

.toolbar{
    align-self: center;
}

.result{
    margin-bottom: .5rem;
    text-align: center;
}

.grid {
    width: 500px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.cell{
    width: calc(100% / 10);
    display: flex;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1;
}

.blue {
    background-color: lightskyblue;
}

.red{
    background-color: red;
}
.footer{
    width: 100%;
    height: 5vh;
    background-color: white;
    display: flex;
}